.wrap {
/*    height: auto!important;
    height: 100%;
    min-height: 100%;
    padding: 0 0 70px;
    margin: 0 auto -70px;*/
}

.wrap>.content-main {
    position: relative;
    z-index: 0;
    padding-top: 0;
/*    margin-top: 240px;*/
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.container:before, .container:after {
    display: table;
    content: " ";
}
.component-sidebar-menu {
    margin-bottom: 2em;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.component-sidebar-menu .btn-group .dropdown-menu {
    position: static;
    display: block;
    float: left;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
.component-sidebar-menu .subnav {
    display: block;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    overflow: hidden;
}
.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
    color:black;
}
.component-sidebar-menu .title {
    margin-bottom: .2em;
    margin-left: .5em;
    font-weight: bold;
    line-height: 1.5;
}
.component-sidebar-menu .btn-group .dropdown-menu li {
    margin-bottom: .2em;
    margin-left: .5em;
}

.component-sidebar-menu .subnav li {
    text-transform: uppercase;
}
.component-sidebar-menu .btn-group .dropdown-menu li a:hover, .component-sidebar-menu .btn-group .dropdown-menu li a.active {
    color: #fff;
    background-color: #000;
}

.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
    font-size: 12px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.714;
    color: #333;
    white-space: nowrap;
}
.component-promo.no-margin {
    margin-bottom: 0;
}

.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.col-xs-12 {
    width: 100%;
}
.image-container {
    position: relative;
}
.component-promo img {
   /* margin-bottom: 1em;*/
}
img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.component-promo .vertical-center {
    position: relative;
    overflow: visible!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/*.vertical-center{
    margin: auto ;
}*/

.slide-meta {
    font-size: 13px!important;
}

.component-promo .black.row {
    margin: 0;
}

.component-promo .black {
    padding: 0;
    color: #e7e7e7;
    background: #000;
}
.component-promo .black.row>div:first-child {
    padding: 0;
    overflow: hidden;
}

.component-headline {
    text-align: center;
}

.component-related-content, .component-focus-content, .component-headline {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 2em;
    overflow: hidden;
}


.component-promo .related-link {
    margin-top: 1em;
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}
.component-promo .related-link:after {
    position: absolute;
    margin-top: -8px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 100;
    content: '\203A';
}
.component-promo .related-link a {
    color: #333;
    text-decoration: none;
}
/*// footer*/
hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #000 !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    text-transform: uppercase;
}
h2, .h2 {
    font-size: 38px !important;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.component-focus-content .item .title {
    font-size: 18px;
    text-decoration: none;
    color:black;
}

.component-related-content .item .related-link a, .component-focus-content .item .related-link a {
    text-transform: uppercase;
}
.component-focus-content .text-center .related-link a {
    width: 100%;
    text-align: center;
}
.component-focus-content .related-link a {
    float: left;
    color: #333;
    text-decoration: none;
}
.hide {
    display: none!important;
}
@media (min-width: 992px){
	.component-sidebar-menu .title {
    font-size: 12px;
}
}
@media (min-width: 768px){
    .component-promo .vertical-center .component-promo-text {
    position: relative;
    top: 50%;
    margin: 0 auto!important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
}
@media(max-width: 480px){
    .component-focus-content .text-center{
        padding-bottom: 10px;
    }

    .container-body .menu-left{
        display: none;
    }
}

