body {
    font-family: "Futura W02 Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimSun,sans-serif;
    font-size: 15px;
    line-height: 1.714;
    color: #000;
    background-color: #fff;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover{
	color: #000;
}
.wrap {
    height: auto!important;
    height: 100%;
    min-height: 100%;
    padding: 0 0 70px;
    margin: 0 auto -70px;
}

.wrap>.content-main {
    position: relative;
    z-index: 0;
    padding-top: 0;
 /*   margin-top: 240px;*/
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.container:before, .container:after {
    display: table;
    content: " ";
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.component-sidebar-menu {
    margin-bottom: 2em;
}

/*menu left*/
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.component-sidebar-menu .btn-group .dropdown-menu {
    position: static;
    display: block;
    float: left;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
.component-sidebar-menu .subnav {
    display: block;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    overflow: hidden;
}
.component-sidebar-menu .title {
    margin-bottom: .2em;
    margin-left: .5em;
    font-weight: bold;
    line-height: 1.5;
}
.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
}

.component-sidebar-menu .btn-group .dropdown-menu li {
    margin-bottom: .2em;
    margin-left: .5em;
}
.component-sidebar-menu .subnav li {
    text-transform: uppercase;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.714;
    color: #333;
    white-space: nowrap;
}
.component-sidebar-menu .btn-group .dropdown-menu li a:hover, .component-sidebar-menu .btn-group .dropdown-menu li a.active {
    color: #fff;
    background-color: #000;
}
/*end menu left*/

.row:after {
    clear: both;
}

.meta-nav {
    padding: 0;
    margin: 0 0 1em 0;
}
.meta-nav a {
    padding: .2em .7em;
    margin-right: -0.7em;
    margin-left: -0.7em;
}
.sub {
    color: #76777b;
}
.upper {
    text-transform: uppercase;
}
.meta-nav span {
    font-size: 16px;
    vertical-align: top;
}
.component-headline {
    text-align: center;
}
.component-related-content, .component-focus-content, .component-headline {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 2em;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    text-transform: uppercase;
}
h2, .h2 {
    font-size: 38px;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 25px;
}
h1, h2, h4, h5, h6, .h1, .h2, .h4, .h5, .h6 {
    font-family:  Gotham Rounded,Arial,SimSun,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: .05em;
}
p, p>.btn-link {
    font-size: 16px;
}
p {
    margin: 0 0 12.5px;
}

.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.image-container {
    position: relative;
}
.component-promo img {
    margin-bottom: 1em;
}
img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.component-promo .component-promo-text {
    width: 100%;
    margin: 0 auto 2em auto;
}
.slide-meta {
    font-size: 13px!important;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
p, p>.btn-link {
    font-size: 15px;
}
p {
    margin: 0 0 12.5px;
}
.content-main p a {
    text-decoration: underline;
}
hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #000;
}

/*footer*/
.component-related-content, .component-focus-content, .component-headline {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 2em;
    overflow: hidden;
}
.component-related-content a, .component-focus-content a {
    display: block;
    overflow: hidden;
}
.component-related-content .item img, .component-focus-content .item img {
    margin-bottom: 1em;
}
.component-focus-content .item .title {
    font-size: 18px;
}
.component-related-content .item .title, .component-focus-content .item .title {
    margin-bottom: 0;
}
.hide {
    display: none!important;
}
.component-focus-content .related-link {
    display: block;
    width: 100%;
    margin-top: 1em;
    overflow: hidden;
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}
.component-related-content .item .related-link a, .component-focus-content .item .related-link a {
    text-transform: uppercase;
}
.component-focus-content .text-center .related-link a {
    width: 100%;
    text-align: center;
}
.component-focus-content .related-link a {
    float: left;
    color: #333;
    text-decoration: none;
}
@media (min-width: 992px){
.component-sidebar-menu li {
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimHei,sans-serif;
    font-size: 12px;
}	
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}
}
