body {
    font-family: "Futura W02 Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimSun,sans-serif;
    font-size: 15px;
    line-height: 1.714;
    color: #000;
    background-color: #fff;
}
.wrap {
    height: auto!important;
    height: 100%;
    min-height: 100%;
    padding: 0 0 70px;
    margin: 0 auto -70px;
}
.wrap>.content-main {
    position: relative;
    z-index: 0;
    padding-top: 0;
    /*margin-top: 240px;*/
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.component-sidebar-menu {
    margin-bottom: 2em;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.component-sidebar-menu .btn-group .dropdown-menu {
    position: static;
    display: block;
    float: left;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.component-sidebar-menu .subnav {
    display: block;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    overflow: hidden;
}
.component-sidebar-menu .title {
    margin-bottom: .2em;
    margin-left: .5em;
    font-weight: bold;
    line-height: 1.5;
}
.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
    color: #000;
}
.component-sidebar-menu .btn-group .dropdown-menu li {
    margin-bottom: .2em;
    margin-left: .5em;
}
.component-sidebar-menu .subnav li {
    text-transform: uppercase;
}
.component-sidebar-menu .btn-group .dropdown-menu li a:hover, .component-sidebar-menu .btn-group .dropdown-menu li a.active {
    color: #fff;
    background-color: #000;
}

/*end menu*/

.no-padding-right {
    display: block;
    padding-right: 0;
    overflow: hidden;
}

.no-padding-left {
    padding-left: 0;
}

.component-promo.no-margin {
    margin-bottom: 0;
}

.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}
.col-xs-12 {
    width: 100%;
}
.image-container {
    position: relative;
}
.image-container .image-overlay.is-loaded {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 750ms ease;
    transition: opacity 750ms ease;
}
.image-container .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
}
.component-promo img {
    margin-bottom: 1em;
}

img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.row:after {
    clear: both;
}
.component-promo .component-promo-text {
    width: 100%;
    margin: 0 auto 2em auto;
}
.slide-meta {
    font-size: 13px!important;
}
p, p>.btn-link {
    font-size: 16px;
}

.content-main p a {
    text-decoration: underline;
    color: #000 ;
}

/*<----->*/
.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}

.component-promo.featured .title {
    font-size: 26px;
}
.component-promo.featured .black .component-promo-text h4.title{
	text-transform: uppercase;
	line-height: 1.3;
}
.component-promo .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}
.component-promo .black.row {
    margin: 0;
}

.component-promo .black {
    padding: 0;
    color: #e7e7e7;
    background: #000;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.component-promo .black.row>div:first-child {
    padding: 0;
    overflow: hidden;
}
.component-promo .black a {
    font-weight: bold;
    color: #fff;
}
.component-promo .black img {
    margin: 0;
}
.component-promo.featured.col-xs-12.col-sm-4{
	display: inline-block;
}
.component-promo .black .component-promo-text {
    width: 90%;
    margin-top: 2em;
}

.component-promo .component-promo-text {
    width: 100%;
    margin: 0 auto 2em auto;
}
.component-promo .related-link {
    margin-top: 1em;
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}
.component-promo .black a {
    font-weight: bold;
/*    color: #fff;*/
}

.component-promo .related-link a {
   /* color: #333;*/
    text-decoration: none;
    text-transform: capitalize;
}

.component-promo .related-link:after {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 100;
    content: '\203A';
}
@media (min-width: 992px){
	.component-sidebar-menu li {
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimHei,sans-serif;
    font-size: 12px;
	}
}
