#languageSelect{
    left: -20px !important;
}
@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('/fonts/SVN-GothamRounded.eot') format('embedded-opentype'); 
  src: url('/fonts/SVN-GothamRounded.woff') format('woff'), url('/fonts/SVN-GothamRounded.ttf') format('truetype'), url('/fonts/SVN-GothamRounded.svg#SVN-GothamRounded') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('/fonts/SVN-GothamRoundedMedium.eot') format('embedded-opentype'); 
  src: url('/fonts/SVN-GothamRoundedMedium.woff') format('woff'), url('/fonts/SVN-GothamRoundedMedium.ttf') format('truetype'), url('/fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium') format('svg'); 
  font-weight: 500; 
  font-style: normal; 
}
  *{
    font-family: Gotham Rounded,Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}
.slick-slide {
    outline: none;
}
button,a{
    border:none !important;
    outline:none !important;
}
body {
    background-color: white;
    color: #262626;
    font-family: 'Arial';
    font-size: 12px;
}
#siteOptions {
    background-color: #ffff;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    display: block;
}
.siteOptions_Inner {
    margin: 0 auto;
    padding: 10px 0;
}
.containerFix {
    display: block;
    overflow: visible !important;
}

.siteOptions_Inner ul>li select {
    border-radius: 4px;
    font-size: 11px;
    color: #32383b;
}
input[type='text'], input[type='password'], input[type='email'], select, textarea {
    padding: 3px!important;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#header a, #header .link {
    text-decoration: none;
}
.siteOptions_Inner a {
    text-transform: uppercase;
}

#siteOptions .siteOptions_Inner ul li {
	display: inline-block;
}
#siteOptions .siteOptions_Inner ul  {
	margin-bottom: 0px !important;
	padding-left: 0px;
}
#siteOptions .siteOptions_Inner .rightsite{
	text-align: right;
    margin:auto;
}
#siteOptions .siteOptions_Inner a{
	color: black;
}

#siteOptions .siteOptions_Inner a:hover{
	color: blue;
}
.siteOptions_Inner a .fa {
    font-size: 18px;
}
.siteOptions_Inner a .icon, .siteOptions_Inner a .fa {
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
    color: #414141;
}
.siteOptions_Inner ul>li {
  /*  padding: 0 8px 0 4px;*/
    display: inline-block;
}
.visible-inline-xs {
    display: none;
}

/*main header*/
#mainHeader_Inner {
    width: 100%;
    margin: 0 auto;
}
#mainLogo {
    height: 80px;
    margin-top: 5px;
    width: 100%;
}

.searchForm {
    background: #f6f6f6;
    border: 1px solid #ccc;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    transition: all .3s;
}
.searchForm:before {
    content: '\f002';
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    left: 9px;
    font-size: 18px;
    color: #8e8e8e;
    line-height: 36px;
}
.input-group[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
.noMargin {
    margin: 0!important;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.searchForm .searchTextInput {
    margin: 0 0 0 35px;
    border: 0;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    padding: 0!important;
    color: #222;
    background: #f6f6f6;
    width: 100%;
}
.searchForm .searchButtonContainer{
    position: absolute;
    right: 0;
}

.searchTextInput:focus{
    background: white;
      outline:0px !important;
    -webkit-appearance:none;
}
.StullerButton.goSearch {
    margin-right: -1px;
}
.StullerButton.goSearch button {
    padding: 0 15px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    line-height: 36px!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    font-weight: 400;
    font-size: 13px!important;
    font-family: 'robotoregular'!important;
}
.StullerButton.primary button {
    position: relative;
    padding: 0 8px;
    transition: all .2s ease 0s;
    cursor: pointer;
    margin-bottom: 5px;
    border: 0;
    color: white;
    font-size: 17px;
    line-height: 34px;
    background-color: #75b0da;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    text-transform: uppercase;
}
.StullerButton button {
    margin: 2px 0;
    font-family: 'MrEaves','Arial';
}
.StullerButton.goSearch span::before {
    content: 'Search';
}
.col-xs-11 {
    width: 81%;
}
#searchAndQuickLinks{
	margin: auto;
}

/*nav*/

.fa-caret-down:before {
    content: "\f0d7";
}
.dropdown-toggle::after{
	display: none !important;
}
#navigationHeader_Inner li#productsNavBar{
	/*width: 16.6%;*/
	display: inline-block;
}


/*menu mobi*/

#header .nav_menu_mobi {
    display: none;
}



/*header img*/

.header_img{
	margin-bottom: 25px;
}
#viewingbar {
    margin: 10px 0;
    padding: 20px 0;
    overflow: hidden;
    line-height: 15px;
    text-transform: uppercase;
    font-family: 'robotoregular';
    color: #6d6e71;
}
#viewingbar li{
	display: inline-block;
}
#viewingbar li:not(:last-child):after {
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 18px;
    position: relative;
    margin: 0 5px;
    top: 1px;
    text-decoration: none;
}

img.showcaseLogo, .image-responsive {
    height: auto;
    width: 100%;
}

/*//content img*/ 


.content_img{
	    background-color: #383838;
	    padding: 20px 40px !important;
}
.tile {
    height: 100%;
    padding-bottom: 70px;
  /*  min-height: 250px;
    max-width: 90%;*/
    background-color: #4e4e4e;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #636363;
}
.tile_img {
    border-bottom: 1px solid #636363;
}
.text-center {
    text-align: center;
}
.tile_body {
    padding: 15px 30px;
    min-height: 110px;
}
.tile_body_title {
    display: block;
    font-size: 19px;
    font-family:  Gotham Rounded;
    color: #fff;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.tile_body_subtitle {
    font-size: 15px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 10px;
    font-family:  Gotham Rounded, Arial, sans-serif;
}

.tile_cta {
    display: inline-block;
    margin-left: 25px;
    position: absolute;
    bottom: 20px;
}

.StullerButton.primary a {
    position: relative;
    right: -3px;
    padding: 8px 10px;;
    transition: all .2s ease 0s;
    cursor: pointer;
    margin-bottom: 5px;
    border: 0;
    color: white;
    font-size: 17px;
    line-height: 34px;
    background-color: #75b0da;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    text-transform: uppercase;
}
.StullerButton a {
    margin: 2px 0;
    /*font-family: 'MrEaves','Arial';*/
}
.customButton {
    width: 150px;
    background-color: #9a9a9a!important;
}
.customButton:hover{
    color:#133A6D !important;
    box-shadow: 0px 3px 4px #133A6D !important;
}


/*realted articles*/
.wrap-slick{
    overflow: hidden;
}
.Archer {
    font-family: Gotham Rounded, Arial, sans-serif;
    font-weight: 500;
}
.owl-item{
	display: inline-block;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper {
    border-top: 0px #999 dotted;
    border-bottom: 0px #999 dotted;
    padding: 23px 0px 15px 0px;
    display: none;
}
.blogArticleBox {
    padding: 25px;
    background-color: #fff;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 3px 4px #e8e8e8;
    transition: all 0.3s ease;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    display: block;
    cursor: pointer;
    position: relative;
} 

.blogArticleBox:hover{
    box-shadow: none;
}
.owl-carousel .owl-wrapper .blogReadMore{
    text-transform: capitalize;
  
}
.blogArticleBox .link-page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.owl-carousel .owl-wrapper .blogReadMore a{
    text-decoration: none;
    color: black;
}
.owl-carousel .owl-wrapper .img-scroll{
    height: 139px;
    width: 100%;
}
.blogSubhead {
    font-size: 12pt;
    color: #999;
    text-transform: uppercase;
}
.blogArticleBox .wrap-img{
    position: relative;
}
.blogArticleBox img.btn_youtube {
    height: 60px;
    width: 60px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slick-dotted.slick-slider {
    margin-bottom: 50px !important;
}


.slick-dots li button:before {

    font-size: 12px !important;
}
/*pre-content*/

.miningDisclaimer_container {
    background-color: #133A6D;
    padding: 30px;
    border-radius: 3px;
}

.miningDisclaimer_title {
    text-align: center;
    padding: 15px 25px 10px 10px;
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.miningDisclaimer {
    border-left: 1px solid #444;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 25px;
}

.pre_content{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-top: 35px;
	margin-bottom: 30px;
}



/*container footer*/

.containerFooter {
    color: #867870;
    margin: 0 auto;
    padding: 0 15px;
    background: #F6F6F6;
}
.bottomMarginExtraLarge{
    margin-bottom: 30px !important; 
} 
.containerFooter .freqCatSection h2{
	   text-transform: uppercase;
}
.containerFooter .freqCatSection h2.hidden-xs a{
	   color: #55697f;
}
.containerFooter .freqCatSection a:hover{
	color: blue !important;
}
.containerFix {
    display: block;
    overflow: hidden;
}
.topMarginExtraLarge {
    margin-top: 20px;
}

.noUnderline {
    text-decoration: none!important;
}
.frequentCategories ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.frequentCategories .subCats a {
    text-decoration: none;
    font-size: 15px;
    padding: 2px 0;
    line-height: 15px;
    margin-bottom: 10px;
    display: block;
        cursor: pointer;
    color: inherit;
}
.freqCatSection{ margin-top: 20px; }
.responsive-image-caption-item {
    overflow: hidden;
    position: relative;
    float: left;
}

.responsive-image-caption-item-cover {
    bottom: 0;
    position: absolute;
    width: 100%;
    opacity: .9;
    background: #d1d3d4;
}
.responsive-image-caption-item-cover-title {
    margin: 5px 10px;
    color: #322e2d;
    font-size: 18px;
}

.responsive-image-caption-item-cover-overlay {
    min-height: 100%;
    top: 100%;
    position: absolute;
    opacity: .9;
    background: #d1d3d4;
    width: 100%;
}
.responsive-image-caption-item-cover-subtitle {
    padding: 5px 10px;
    color: #322e2d;
    font-size: 12px;
}
    
.responsive-image-caption-item:hover .responsive-image-caption-item-cover{
    opacity: 0 !important;
}
.responsive-image-caption-item:hover .responsive-image-caption-item-cover-overlay{
    top:20% !important;
}


 /*footer*/
#footer {
    border-top: 3px solid #75b0da;
    clear: both;
    color: #ddd;
    background: url(../img/bg_footer.jpg) #45494d;
    padding-top: 20px;
}

#footer #mainFooter {
   /* float: left;*/
    width: 100%;
    padding-bottom: 30px;
}

#footer #mainFooter #mainFooterContent {
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: normal;
}
#footer #mainFooter #mainFooterContent #loggedOutfooterLinks {
    display: block;
    text-align: center;
}

#footer #mainFooter #mainFooterContent #loggedOutfooterLinks ul {
    display: block;
    margin: 0 auto!important;
}
#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer #mainFooter #mainFooterContent #loggedOutfooterLinks ul li {
    padding: 0 5px;
}
#footer ul li {
    clear: both;
}
ul.inlineBlock>li {
    display: inline-block;
    list-style-type: none;
}

#footer #mainFooter #mainFooterContent a {
    font-weight: normal;
}
#footer #mainFooter a {
    text-decoration: none;
        cursor: pointer;
    color: inherit;
}
#footer #mainFooter #mainFooterContent .altSocialIcons{
    margin-top: 10px;
}
#footer #mainFooter #mainFooterContent .altSocialIcons a {
    margin-right: 4%;
}
#footer #mainFooter #mainFooterContent a {
    font-weight: normal;
}


/*scroll to top*/
.scrollToTop {

    bottom: 75px;
    display: none;
    position: fixed;
    right: 40px;
    background-color: #f6f6f6;
    border: 1px solid #a7a9ac;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
    z-index: 1000;
}
.scrollToTop span {
    font-size: 18px;
    line-height: 35px;
    vertical-align: middle;
}

#component-focus-content-related-content-5442010 a h5.title {
    padding-top: 10px;
}
#component-focus-content-related-content-5442010 a{
    text-decoration: none;
}
@media (min-width: 768px){
    #mainHeader {
    padding: 20px 0;
    }

    #navigationHeader {
    margin: 0 auto;
    background-color: #133A6D;
    border-top: 0;
    text-align: center;
    }
    #navigationHeader #navigationHeader_Inner {
    margin: 0 auto;
    position: relative;
    z-index: 10;
    width: 100%;
    }
    #navigationHeader_Inner {
    display: table;
    }

    #navigationHeader #navigationHeader_Inner>li {
    text-align: center;
    text-transform: uppercase;
        padding: 10px 14px;
/*        width: 16%;*/
    }
    #navigationHeader #navigationHeader_Inner>li>a {
    color: white;
    transition: color 0s ease-in 0s;
    -moz-transition: color 0s ease-in 0s;
    -webkit-transition: color 0s ease-in 0s;
    -o-transition: color 0s ease-in 0s;
    vertical-align: middle;
    font-family: Gotham Rounded, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 4px;
    line-height: 25px;
    }
    #navigationHeader #navigationHeader_Inner>li.dealsNavElement a {
    background-color: #941c1e!important;
    color: white!important;
   display: inline-block;
    padding-left: 37px;
    padding-right: 37px;
    }
    #navigationHeader #navigationHeader_Inner>li.dealsNavElement{
        padding:0px;
    }
    #navigationHeader li.dealsNavElement a:hover{
        background: #FF5F5F !important;
        border-radius: 6px;
    }
    .freqCatSection {
    text-align: center;
    }
    .frequentCategories h2 {
    font-size: 20px;
    }
    .hidden-xs {
    display: block!important;
    }
    .visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs {
    display: none!important;
    }
} 
@media (min-width: 992px){
    #navigationHeader_Inner, .siteOptions_Inner {
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
    #navigationHeader_Inner{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (min-width: 992px){
    .siteOptions_Inner, #mainHeader_Inner, #navigationHeader_Inner, #containerFooter, #containerContent_Inner, #mainFooterContent, .maxSiteWidth {
    max-width: 1260px;
    }
    #navigationHeader #navigationHeader_Inner>li>a{
    font-size: 15px ;
     padding: 10px 10px ;
   }
}
@media (min-width: 1200px){
	#customizationNavBar {
    max-width: 120px;
	}
    #navigationHeader #navigationHeader_Inner>li {
        
    }
    #navigationHeader #navigationHeader_Inner>li>a{
    font-size: 17px ;
    padding: 10px 25px ;
   }
}


@media only screen and  (max-width: 768px){
    #header .nav_menu_mobi {
    display: block;
    position: relative;
    }
    #header #navigationHeader{
        display: none;
    } 
    #header .nav_menu_mobi .btn_menu_mobi{
        position: absolute;
        right: 10px;
    }
    #searchAndQuickLinks{
        display: none;
    }
    .content_img .flexbox .flex-child{
        padding-bottom: 20px;
    }
    .content_img .flexbox div.flex-child:last-child{
        /*padding-bottom: 0px;*/
    }

}
@media (max-width: 480px){
    .content_img .flexbox .flex-child{
        padding-bottom: 20px;
        min-height: 450px;
    }
    .content_img .flexbox div.flex-child:last-child{
        padding-bottom: 0px;
    }
}
.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}