.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}

/*//left menu*/
.component-sidebar-menu {
    margin-bottom: 2em;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.component-sidebar-menu .btn-group .dropdown-menu {
    position: static;
    display: block;
    float: left;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
.component-sidebar-menu .subnav {
    display: block;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    overflow: hidden;
}

.component-sidebar-menu .title {
    margin-bottom: .2em;
    margin-left: .5em;
    font-weight: bold;
    line-height: 1.5;
}

.component-sidebar-menu .btn-group .dropdown-menu li a:hover, .component-sidebar-menu .btn-group .dropdown-menu li a.active {
    color: #fff;
    background-color: #000;
}
.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
}

.component-sidebar-menu .btn-group .dropdown-menu li {
    margin-bottom: .2em;
    margin-left: .5em;
}
.component-sidebar-menu .subnav li {
    text-transform: uppercase;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.714;
    color: #333;
    white-space: nowrap;
}

/*end left*/
.component-related-content, .component-focus-content, .component-headline {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 2em;
    overflow: hidden;
}

.component-related-content a, .component-focus-content a {
    display: block;
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.component-related-content a, .component-focus-content a {
    display: block;
    overflow: hidden;
}

.image-container {
    position: relative;
}
.component-related-content .item img, .component-focus-content .item img {
    margin-bottom: 1em;
    border: 1px solid;
    /*border-left:2px solid;*/
}
img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
a:hover, a:focus {
    color: #000;
    text-decoration: underline;
}

.item.text-center h5.title{
	text-transform: uppercase;
}
.component-focus-content.focus-content-news .related-link a {
    color: #333;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 600;
}

.component-focus-content .text-center .related-link a {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.component-focus-content .related-link a {
    float: left;
    color: #333;
    text-decoration: none;
}

.component-focus-content.focus-content-news .related-link a:after {
    position: absolute;
    margin-top: -8px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 100;
    content: '\203A';
}
/*footer*/
.component-results-footer {
    text-align: center;
}

.component-results-footer .result-pagination {
    position: absolute;
    right: 8px;
    text-align: right;
}



.btn {
    padding: .5em 1.5em;
    text-transform: uppercase;
    -webkit-transition: background-color .25s ease,border-color .25s ease,color .25s ease;
    transition: background-color .25s ease,border-color .25s ease,color .25s ease;
}
.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.714;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.component-focus-content .text-center{
        padding-bottom: 15px;
    }
@media (min-width: 992px){
	.component-sidebar-menu li {
    font-size: 12px;
}
}
@media(max-width: 480px){
    .component-focus-content .text-center{
        padding-bottom: 15px;
    }
}
