body {
    /*font-family: "Futura W02 Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimSun,sans-serif;*/
    font-size: 15px;
    line-height: 1.714;
    color: #000;
    background-color: #fff;
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.carousel-article {
    display: block;
    overflow: hidden;
}
.component-carousel.hero .carousel {
    margin-bottom: 0;
}

.carousel {
    position: relative;
}
.component-carousel.hero .carousel-indicators {
    bottom: 2em;
}

.component-carousel .carousel-indicators {
    position: absolute;
    right: 2em;
    bottom: -2.5em;
    left: auto;
    z-index: 150;
    width: auto;
    margin-bottom: 0;
    margin-left: 2px;
}
.hide {
    display: none!important;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.component-carousel .item {
    float: left;
    width: 100%;
}
.carousel-inner>.active {
    left: 0;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}
.carousel-inner>.item {
    position: relative;
 /*   display: none;*/
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.image-container {
    position: relative;
}
.image-container .image-overlay.is-loaded {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 750ms ease;
    transition: opacity 750ms ease;
}
a {
    color: #000;
    text-decoration: none;
}

.image-container .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
}

img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}


body .carousel-article .carousel-heading {
    margin-bottom: 0;
}

.featured .vertical-center.text-center{
    margin: auto;
}
.component-carousel .carousel-heading {
    padding-top: .5em;
    padding-right: 1em;
    margin-top: .075em;
    margin-bottom: 1em;
}

.component-carousel .carousel-heading .slide-meta {
    min-height: 25px;
}
.slide-meta {
    font-size: 13px!important;
}

.component-carousel .carousel-heading .slide-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}




/*row 2*/ 
.col-xs-12 {
    width: 100%;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}
.component-promo .black.row {
    margin: 0;
}

.component-promo .black {
    padding: 0;
    color: #e7e7e7;
    background: #000;
}
.component-promo .black .component-promo-text {
    /*width: 90%;*/
    margin-top: 2em;
}
.component-promo .component-promo-text {
    width: 100%;
    margin: 0 auto 2em auto;
}
.component-promo.featured .title {
    font-size: 26px;
    text-transform: uppercase;
}

.component-promo .text-center .title {
    margin: 0 .5em;
}

.component-promo .related-link {
    margin-top: 1em;
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}
.component-promo .related-link a{
	color:white;
	text-decoration: none;
}
.component-promo .related-link:after {
    position: absolute;
    margin-top: -8px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 100;
    content: '\203A';
}


/*add css row new*/

.component-promo .black.row>div:first-child {
    padding: 0;
    overflow: hidden;
}
.component-promo .black a {
    font-weight: bold;
    color: #fff;
}
.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}

.component-headline {
    text-align: center;
}

.component-related-content, .component-focus-content, .component-headline {
    display: block;
    float: left;
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 2em;
    overflow: hidden;
}
hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #000;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    text-transform: uppercase;
}
h2, .h2 {
    font-size: 38px;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.component-focus-content .item .title {
    font-size: 18px;
    text-decoration: none;
    color:black;
}

.component-related-content .item .related-link a, .component-focus-content .item .related-link a {
    text-transform: uppercase;
}
.component-focus-content .text-center .related-link a {
    width: 100%;
    text-align: center;
}
.component-focus-content .related-link a {
    float: left;
    color: #333;
    text-decoration: none;
}
@media (min-width: 1344px){
	.container {
    max-width: 1314px;
}
}

@media (min-width: 1200px){
	.container {
    max-width: 1170px;
	}
}


@media (min-width: 992px){
	.container {
    max-width: 970px;
	}
}

@media (min-width: 768px){
	.container {
    max-width: 750px;
	}

	.component-carousel .carousel-heading .slide-meta {
    margin-bottom: -5px;
	}
}
@media (min-width: 480px){
	.component-carousel .carousel-heading {
    position: relative;
    right: 0;
    bottom: 6.1em;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 6.1em;
    color: #e7e7e7;
    text-align: center;
    background-color: #333;
    background-color: rgba(0,0,0,0.6);
}
}
@media(max-width: 480px){
    .component-focus-content .text-center{
        padding-bottom: 10px;
    }
    .component-carousel .carousel-heading{
        padding-right: 0px;
    }
}